extends layout

block content

    div.flex-container
        div.category-container
            h1 Categories

            div.category-list
                ul.categories
                - for (let i = 0; i < categories.length; i++) {
                    li.categoryLI
                        h3.category= categories[i].title
                        div(class="categoryDelete" onClick="removeCategory(\"" + categories[i]._id  + "\")") x
                - }

            div.button-container
                div(class="pure-button button-success", onClick="addCategory()") Add Category
                div(class="pure-button button-success" onClick="addChallenge()") Add Challenge
  
        div.challenge-container
            h1 Challenges
            ul.challenges
            - for (let i = 0; i < challenges.length; i++) {
                a(class="challenge-anchor" href="/admin/challenge/" + challenges[i]._id)
                    li
                        h3.category= challenges[i].name
            - }