div.codeEditor
    //- div(class="codeEditorHeader flex-container")
    //-     div.leftSide
    //-         div.fileNav
    //-             - if (challenge && challenge.classes)
    //-                 each cls in challenge.classes
    //-                     div.classTab= cls.name
    //-         span.saving= "No changes made"
    //-     div(id="resetTextButton" class="pure-button button-success" onclick="resetText();")= "Reset to default"
    //- include codeMirror.pug