extends layout
include mixins

block content

    div(class="categories-container flex-container")
        each cat in categories
            +category(cat)

    div(class="pure-button" onclick="window.location.href=\"/search\"") Search

