extends layout
include mixins

block content

    div(class="home-container")
        div(class="section message-section")
            div(class="section-header")
                h3(class="section-header-text")= "Messages"
            div.flex-container
                each message in messages

                    div(class="card non-hover message")
                        h2= message.title
                        div!= message.body
        div.section
            div(class="section-header")
                h3(class="section-header-text")= "Category Quick Select"
            div
                - for (let i = 0; i < Math.ceil(categories.length / 3); i++) {
                    div(class="flex-container categories-container")
                        - for (let j = 0; j < 3 && i * 3 + j < categories.length; j++) {
                            div.category-quick-select
                                +category(categories[i * 3 + j])
                        - }
                - }
