extends layout

block content

  div.challengeDesc
    h1= challenge.name
    p= challenge.description

  form(action="/compile", method="post")
    include textEditor.pug
    <br>
    div(onclick="compileCode()")
      | Run Test
  include testResults.pug
