extends layout

block content

  div.challengeDesc
    h1= challenge.name
    p= challenge.description

  form()
    include textEditor.pug
    <br>
    div(class="btn" onclick="compileCode()")
      | Run Test
  include testResults.pug
