doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/pure-min.css", integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w", crossorigin="anonymous")
    - if (styles) {
      each val in styles
        link(rel='stylesheet', href='/stylesheets/' + val + '.css')
    - }
  body
    block content
    
    - if (scripts) {
      - for (let i = 0; i < scripts.length; i++) {
        script(src='/javascripts/' + scripts[i] + '.js')
      -}
    -}

    - if (codeBox) {
      script.
        (function() {
            document.codeMirror = CodeMirror.fromTextArea(document.getElementById("code_area"), {
                lineNumbers: true,
                mode: "text/x-java",
                matchBrackets: true,
                indentWithTabs: false,
                tabSize: 4,
                smartIndent: false,
                autofocus: true,
            });

            document.codeMirror.on('change', (cm) => {window.onCodeMirrorChange(cm);});

            window.challengePath = "#{challenge.testFile}";
            console.log("Path: " + window.challengePath);

            window.onCodeMirrorLoad(document.codeMirror);

        })();
    - }
