$belizehole: #2980b9
$midnightblue: #2c3e50
$wetasphalt: #34495e
$clouds: #ecf0f1
    
$background-color: #f7f9f9
$card-color: white

$font-default: #1d2229
$font-light: #777777


$anchor-default: #00B7FF

$header-color: #34495e
$header-title: white

$home-page-section-border: #7f8c8d
$message-border: #2ecc71

$color-success: #2ecc71
$color-failure: #e74c3c

$button-success: #2ecc71
$button-danger: #e74c3c

$drop-down-border: #bdc3c7
$result-shade: gainsboro

$admin-sideBar: $midnightblue
$admin-sideBar-hover: $wetasphalt
$admin-sideBar-color: $clouds
$admin-table-border: #bdc3c7
