.admin-container
    width: 100%

.sideBar
    flex-grow: 0
    height: 100vh
    min-width: 20vw
    background-color: $admin-sideBar
    color: $admin-sideBar-color

    ul
        margin: 0
        list-style: none
        padding: 10px 0px

        li
            padding: 5px 30px
            cursor: pointer

            &.active, &:hover
                background-color: $admin-sideBar-hover

            h3
                color: $admin-sideBar-color

.main
    flex-grow: 1

.category-list
    padding: 30px 50px

    a
        text-decoration: none
        color: $font-default

.admin-categories
    list-style: none
    padding: 0

    li
        a
            text-decoration: none
            color: $font-default

.new-admin-card
    padding: 30px
    width: 100%
    border-left: 4px solid $message-border
    box-sizing: border-box
    
    h2
        margin: 0

.admin-table
    padding: 0

.admin-row
    padding: 30px
    margin: 10px 0
    display: flex
    align-items: center
    position: relative
    width: 100%
    background-color: $card-color
    box-sizing: border-box

    &.admin-message
        align-content: space-between
        flex-wrap: wrap

    .title, .message-title
        font-weight: bold

    .title, .featured, .admin-hidden, .message-title
        flex-grow: 0
        width: 15%
        margin: 0 20px

    .message-title, .admin-hidden
        flex-grow: 1
        position: relative
        box-sizing: border-box
        margin: 0

    .admin-hidden
        text-align: right

    .message
        width: 100%

    .description
        flex-grow: 1

.criteria-menu
    margin: 20px 0

.criteria-dropdown
    .header
        background: $midnightblue
        color: white

    .pure-menu-children
        background: white
        border: 1px solid $drop-down-border

.category-dropdown-item
    padding: 7px 30px
    cursor: pointer

    &:hover
        background: $clouds