.CodeMirror-container
    width: 80%
    border: 1px solid $grey-area-border
    background-color: $grey-area-background

.codeEditorHeader
    padding: 10px
    border-bottom: 1px solid $grey-area-border
    justify-content: space-between
    align-items: center

.CodeMirror-gutters
    background: $grey-area-background
    border-right: 1px solid $grey-area-border