.home-container
    margin: 0 auto
    width: 80%

.categories-container
    margin-bottom: 50px

.category-container
    width: 30%
    box-sizing: border-box
    padding: 15px 50px
    cursor: pointer

.section-header
    text-transform: uppercase

.section-header-text
    border-bottom: 1px solid $home-page-section-border
    padding-bottom: 10px

.section
    margin-bottom: 60px

    .flex-container
        align-items: flex-start

.message
    border-left: 4px solid $message-border
    box-sizing: border-box
    width: 46%