@import './_colors.sass'
@import './normalize.css'

body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    box-sizing: border-box
    background-color: $background-color
    color: $font-default
    min-width: 900px

h1 
    font-family: Geneva, Tahoma, Verdana, sans-serif
    font-size: 24px
    font-style: normal
    font-variant: normal
    font-weight: 500
    line-height: 26.4px
    color: $font-default

h2
    color: $font-default    

h3 
    font-family: Geneva, Tahoma, Verdana, sans-serif
    font-size: 14px
    font-style: normal
    font-variant: normal
    font-weight: 500
    line-height: 15.4px
    color: $font-default

p 
    font-family: Geneva, Tahoma, Verdana, sans-serif
    font-size: 14px
    font-style: normal
    font-variant: normal
    font-weight: 400
    line-height: 20px
    color: $font-default

blockquote 
    font-family: Geneva, Tahoma, Verdana, sans-serif
    font-size: 21px
    font-style: normal
    font-variant: normal
    font-weight: 400
    line-height: 30px
    color: $font-default

pre 
    font-family: Geneva, Tahoma, Verdana, sans-serif
    font-size: 13px
    font-style: normal
    font-variant: normal
    font-weight: 400
    line-height: 18.5714px
    color: $font-default

a
    color: $anchor-default

.header
    background-color: $header-color
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

.header-title
    margin: 0
    color: $header-title
    font-weight: 1000
    padding: 15px 30px
    display: inline-block

.header-button
    margin-right: 30px
    

.flex-container
    display: flex
    justify-content: space-between

.container
    padding: 30px

.button-success .button-danger
    color: white
    border-radius: 4px
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)

.button-success
    background-color: $button-success


.button-danger
    background-color: $button-danger

.success
    color: $color-success

.failure
    color: $color-failure

.bold
    font-weight: 700

.banner
    margin: 10px 0px
    padding: 12px
    color: #D8000C
    background-color: #FFD2D2

.card
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
    padding: 2px 16px
    background-color: $card-color
    transition: .3s

    &:hover
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
        &.non-hover
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
    

